@font-face {
  font-family: 'SpaceMono';
  src: url('../fonts/SpaceMono-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SpaceMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SpaceMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SpaceMono-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SpaceMono-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SpaceMono-Regular.svg#SpaceMono-Regular') format('svg'); /* Legacy iOS */
  font-weight: 400;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('../fonts/SpaceMono-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SpaceMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SpaceMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SpaceMono-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SpaceMono-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SpaceMono-Regular.svg#SpaceMono-Regular') format('svg'); /* Legacy iOS */
  font-weight: 700;
}