body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
}
$loader-size: 70px;
$planet-size: 10px;
$moon-loader-size: 30px;
$moon-size: 5px;
$sun-size: 21px;
$color: #fefefe;

.loader {
  position: absolute;
  top: 50%;
  margin-top: calc(-#{ $loader-size } / 2);
  left: 50%;
  margin-left: calc(-#{ $loader-size } / 2);
  width: $loader-size;
  height: $loader-size;
}
.moon-loader {
  margin-top: calc(-#{ $moon-loader-size } / 2);
  margin-left: calc(-#{ $moon-loader-size } / 2);
  width: $moon-loader-size;
  height: $moon-loader-size;
}
.loader-circle {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-left: 1px solid rgba($color, 0.3);
  border-top: 1px solid transparent;
  animation: rotate 2.1s infinite;
  animation-timing-function: linear;

  > div {
    position: absolute;
    width: $planet-size;
    height: $planet-size;
    margin-left: calc($planet-size / 2);
    margin-top: calc($planet-size / 2);
    border-radius: 50%;
    background-color: $color;
  }
  > div.loader-moon-size {
    width: $moon-size;
    height: $moon-size;
    margin-left: calc($moon-size / 2);
    margin-top: calc($moon-size / 2);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loader-sun {
  position: absolute;
  left: 50%;
  margin-left: calc(-#{ $sun-size } / 2 + 1px);
  top: 50%;
  margin-top: calc(-#{ $sun-size } / 2 + 1px);
  width: $sun-size;
  height: $sun-size;
  background-color: $color;
  border-radius: 50%;
}