@font-face {
    font-family: 'Space Mono';
    src: url('SpaceMono-Bold.eot');
    src: url('SpaceMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('SpaceMono-Bold.woff2') format('woff2'),
        url('SpaceMono-Bold.woff') format('woff'),
        url('SpaceMono-Bold.ttf') format('truetype'),
        url('SpaceMono-Bold.svg#SpaceMono-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('SpaceMono-Regular.eot');
    src: url('SpaceMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('SpaceMono-Regular.woff2') format('woff2'),
        url('SpaceMono-Regular.woff') format('woff'),
        url('SpaceMono-Regular.ttf') format('truetype'),
        url('SpaceMono-Regular.svg#SpaceMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

